<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <div class = "wrapper">
        <header>
            <h1>예비군 데이터 관리 프로그램</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('create') }}">생성</a></li>
                    <li><a href="{{ url_for('retrieve') }}">검색</a></li>
                    <li><a href="{{ url_for('update') }}">업데이트</a></li>
                    <li><a href="{{ url_for('delete') }}">삭제</a></li>
                    <li><a href="{{ url_for('print') }}">출력</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h2>환영합니다!</h2>
            <p>예비군 데이터 수정 및 조회 사이트입니다.</p>
        </main>

        <footer>
            <p>&copy; 2023 Flask 웹 애플리케이션</p>
        </footer>
    </div>
</body>